body{

}

article {
    border: solid thick green;
}

p{
   border: solid thick blue;
}

ul{
    border: solid thick purple;
}

li{
    border: solid thick pink;
}

div{
    border: solid thick red;
}

img{
    border: solid thick orange;
}

form{
    border: solid thick yellow;

}

aside{
  border: solid thick teal;
}

/* INT PAGE */
body{

}

article {
    border: none;
}

p{
   border: none;
}

ul{
    border: none;
}

li{
    border: none;
}

div{
    border: none;
}

img{
    border: none;
}

form{
    border: none;

}

aside{
  border: none;
}
