body{

}

article {
    border: solid thick green;
}

p{
   border: solid thick blue;
}

ul{
    border: solid thick purple;
}

li{
    border: solid thick pink;
}

div{
    border: solid thick red;
}

img{
    border: solid thick orange;
}

form{
    border: solid thick yellow;

}

aside{
  border: solid thick teal;
}

/* INT PAGE */
#INT{
    font-size: 24px;
    background-color:#ebebeb;
}

#INT article {
    border: double black;
    padding: 1em;
    margin: 1em;
    background-color:white;
}

#INT figure{
    border-bottom: thick black;
}
#INT p{
   border: none;
   padding 0.5em;
   margin 1em;
}

#INT ul{
    border: none;
}

#INT li{
    border: none;
}

#INT div{
    border: none;
}

#INT img{
    border: none;
    margin: auto;
    text-align:center;
}

#INT figure{
    text-align: center;
}

#INT h1{
    text-align:center;
}

#INT h1 img{
    width: 100%;
}
#INT form{
    border: none;
}

#INT aside{
  border: none;
}
